
@media(max-width: 400px){
    header{
        .coding-friends{
            padding-top: 170px;
        }
    }
    .image-for-header{
            img{
                width: 350px;
                padding-bottom: 30px;
            }
    }

}