<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs',  title)%>
  </head>
        <%- include('../partials/header.ejs')%>
  <body>

    <main role="main" class="container">

        <div class="coding-friends">
          
        <h1>Welcome to coding friends</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </main><!-- /.container -->

    <%- include('../partials/footer.ejs')%>
</body>
</html>
