<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', title )%>
  </head>
        <%- include('../partials/header.ejs')%>
  <body>

    <h1>support</h1>

  </body>


</html>